<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test verbose="1" name="TestingWebDriver">
    <classes>
      <class name="email.VerifyLogin"/>
    </classes>
  </test> <!-- TestingWebDriver -->
</suite> <!-- Default Suite -->